header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    padding: 0%;

}
header img{
    max-width: 150px;
    max-height: 150px;
}

.content_box1{
    margin: 0px;
}


header ul{
    position: relative;
    display: flex;
    padding-right:40px ;
}

header ul li 
{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 600;
    margin-left: 40px;
    text-decoration:none;
    font-size: 25px;
    }

    header H1{
        position: absolute;
        margin-left: 120px;
        font-weight: 600;
        font-size: 40px;
    }

    

    .content_box{
    position: relative;
    width: 100%;
    display: flex ;
    justify-content: space-between;
    align-items:center ;
    padding-left: 60px;
    }

    body{
        margin: 0;
    }

    .title{
        max-width: 400px;
        position: relative;

    }

    .title H1{
        font-weight: 700;
        font-size: 50px;
    }
