
html {
    scroll-behavior: smooth; /* Анімація плавного прокручування */

}
.content_box {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 75%;
    font-family: 'Bookman Old Style', serif;
    color: #333;
    letter-spacing: 1px;
    margin: 0 auto;
    justify-content: center; /* Центрує по горизонталі */
    min-height: 300px; /* або встановити потрібне значення */
    background-color: white;
}
#main-photo {
    max-width: 100%;
}
body {
    font-family: 'Bookman Old Style';
    font-size: 16px;
    background-color: #e7e7e7;

}
header {    
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    padding-left: 32px;
}

    
    header ul {
        position: relative;
        display: flex;
        padding-right: 40px;
    }
    
    header ul li {
        list-style: none;
    }
    
    header ul li a {
        display: inline-block;
        color: white;
        font-weight: 600;
        margin-left: 40px;
        text-decoration: none;
        font-size: 20px;
    }


h2 {
    font-size: 28px;
    color: #0eb45e; /* Можна змінити на ваш колір */
    letter-spacing: 8px;
}
h1 {
    color: #0eb45e; /* Можна змінити на ваш колір */
}
.title {
text-align: center; 

}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.about-text {
    margin-top: 50px;
    flex: 1;
    max-width: 60%; /* Підлаштовується до ширини */
}

.about-image {
    flex: 1;
    max-width: 40%; /* Залишкова частина */
    text-align: center;
}

.about-image img {
    width: 203px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.5);
}

.about h2 {
    font-size: 28px;
    color: #0eb45e;
    text-transform: uppercase;
    margin-left: 40px;
}


.about p {
    margin-left: 40px;
    font-size: 18px;
    line-height: 1.6;

}


.about ul li {
    font-size: 18px;
    line-height: 1.8;

  
}

.about ul li::before {
    content: "✓";
    color: #0eb45e;
    font-weight: bold;
    top: 5px;
}
.story {
    line-height: 1.6;
    margin: 0 auto; /* Центруємо блок */
    text-align: center;
}

.story-image_styles {
    display: flex;
    justify-content: space-evenly; /* Рівномірний розподіл */
    flex-wrap: wrap; /* Дозволяє переносити елементи на новий рядок на менших екранах */
    gap: 15px; /* Додає відступи між фото */
}

.story-image_styles div {
    text-align: center; /* Вирівнюємо імена під фото */
}

.story img {
    border-radius: 20px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    width: 100%; /* Робимо фото адаптивним */
    max-width: 210px;
     max-height: 240px;
     min-height: 220px;
    height: auto; /* Автоматична висота */
    width: auto;
}

.story h1 {
    font-size: 18px;
    margin-top: 10px;
    color: #000000;
}

#main-context-title {
        letter-spacing: 4px;
        margin-left: -220px;
        text-align: 32px;
    }

    .logo-title {
        display: flex;
        align-items: center; 
        max-width: 100%;
    }
    .logo-title img {
        max-width: 15%;
        margin-left: 20px;
    }
    
    .logo-title h1 {
        margin: 0;
        letter-spacing: 4px;
        font-size: 24px;
        position: relative;
    }

   

    .main-carrousel{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 10vh;
        background:linear-gradient(to left top, white, white) ;
    }
    
    .wrapper{
        max-width: 1100px;
        width: 100%;
        position: relative;
    }
    
    .wrapper i {
        height: 50px;
        width: 50px;
        background: #fff;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 1.25rem;
        transform: translateY(-50%);
        box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    }
    
    .wrapper i:first-child{
        left:-22px ;
    }
    
    .wrapper i:last-child{
        right:-22px ;
    }
    
    .wrapper .carrousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 12px);
        gap: 16px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: 0;
    }
    
    .carrousel .no-transition{
        scroll-behavior: auto;
    }
    
    .carrousel.dragging{
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    
    .carrousel::-webkit-scrollbar{
        display: none;
    }
    
    .carrousel :where(.card, .img){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carrousel .card{
        scroll-snap-align: start;
        list-style: none;
        background: #fff;
        border-radius: 8px;
        height: 342px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 15px;
        
    }
    
    .card .img{
        background: #8b53ff;
        width: 208px;
        height: 208px;
        border-radius: 25%;
    }

    .story {
        text-align: center;
        margin: 20px 80px;
    }
    
    .card .img img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 25%;
        border: 4px solid #fff ;
    }
    
    .card h2{
        font-weight: 500;
        font-size: 1.56rem;
        margin: 20px 0 5px;
    }
    
    .card span {
       
        font-size: 1.31rem;
    }
    
  
    
    .carrousel.dragging .card{
        cursor: grab;
        user-select: none;
    }
    
    footer {
        
        background-color: #f2fdf6;
        color: #333;
       
        padding-left: 120px;
        padding-top: 20px;
    }
    
    #contacts-section {
    box-shadow: 0 4px 6px #006aff1a;
    }
    .footer-container {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    
    .footer-logo {
        margin-top: 21px;
        text-align: center;
    }
    
    .footer-logo img {
       
        margin-bottom: 2px;
    }
    
    .footer-links, .footer-social {
        flex: 1;
        min-width: 160px;
    }
    
    .footer-links h3, .footer-social h3 {
        font-size: 18px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #0eb45e;
    }
    
    .footer-links ul, .footer-social ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-links li, .footer-social li {
        margin-bottom: 10px;
    }
    
    .footer-links a, .footer-social a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s;
    }
    
    .footer-links a:hover, .footer-social a:hover {
        color: #0eb45e;
    }
    
    .footer-social a i {
        margin-right: 10px;
    }
    
    .footer-copyright {
        text-align: center;
        flex: 1 100%;
        font-size: 14px;
        border-top: 1px solid #c2c2c2;
    }

    